@using WagerWatcher.Repositories
@model WagerWatcher.HorseInRace


<tr>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.Name)
    </td>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.Number)
    </td>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.Scratched)
    </td>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.Barrier)
    </td>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.JockeyWeight)
    </td>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.JockeyAllowance)
    </td>
    <td>
        @Html.DisplayFor(horseInRace => horseInRace.JockeyName)
    </td>
    <td>
        
    </td>
</tr>
